body {
  padding: 50px 0px 0px 0px; /* 50px for navbar */
  margin: 0;
}
html, body, #map {
  height: 100%;
  width: 100%;
}
.has-error .form-control{
  border-width: 3px;
  border-color: #FF2D2D !important;
}
.leaflet-container {
  background: #000 !important;
}
.hidden {
  display: none;
}
/* hide controls and navbar for mobile */
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .controls, .queryres, .projinfo, .navbar {
    display: none;
  }
  body {
    padding: 0px 0px 0px 0px; /* 50px for navbar */
    margin: 0;
  }
}
#controlpanelheader {
  /*font-size: 16px !important;*/
  overflow: auto;
}
.headertext {
  font-size: 20px !important;
  font-weight: bold;
  padding-top:10px;
}
.propwarnbox {
  font-size: 13px !important;
}
.imagecontrols {
  overflow: auto;
  max-height: 600px;
}

.hiddencontrols {
  display: none;
}
.visiblecontrols {

}

.helperText {
  float: left;
  padding-top: 8px;
  padding-right: 15px;
  color: #F6DB22;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 160%;
  /*font-weight: bold;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: none;
}

.toolbox {
  padding: 8px 8px;
  width: 300px;
  font-size: 13px !important;
  background: white;
  /* background: rgba(255, 255, 255, 0.8); */
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2px;
  overflow: auto;
  max-height: 500px;
}
.toolboxContent {
  overflow: auto;
  max-height: 600px;
}

.showToolboxIcon {
  padding-top: 10px;
}

#imagecontrolshide, #projinfobox, #projectModeBox, #synaptogramModeBox {
  padding: 8px 8px;
  width: 300px;
  /*font: 14px/16px Arial, Helvetica, sans-serif;*/
  font-size: 13px !important;
  background: white;
  background: rbga(255,255,255,0.8);
  box-shadow: 0 0 15px rbga(0,0,0,0.2);
  border-radius: 2px;
}
/* added to play nice with react */
.toolboxHeaderIcon {
  padding-bottom: 5px;
}
.toolboxCloseButton {
  float: right;
}
.toolboxIconOpen {
  float: left;
}

/* react animation */
.showToolbox-enter {
  opacity: 0;
}

.showToolbox-enter.showToolbox-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
  transition-delay: 500ms;
}

.showToolbox-leave {
  opacity: 1;
}

.showToolbox-leave.showToolbox-leave-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}


.toolboxIconAnimate-enter {
  opacity: 0;
}

.toolboxIconAnimate-enter.toolboxIconAnimate-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
  /*transition-delay: 450ms;*/
}

.toolboxIconAnimate-leave {
  opacity: 1;
}

.toolboxIconAnimate-leave.toolboxIconAnimate-leave-active {
  opacity: 0;
  /*transition: opacity 0ms ease-in;*/
  transition: opacity 0ms ease-in;
}


.toolboxTransition-enter {
  opacity: 0;
}

.toolboxTransition-enter.toolboxTransition-enter-active {
  opacity: 1;
  transition: opacity 0ms ease-in;
  /*transition-delay: 450ms;*/
}

.toolboxTransition-leave {
  opacity: 1;
}

.toolboxTransition-leave.toolboxTransition-leave-active {
  opacity: 0;
  /*transition: opacity 0ms ease-in;*/
  transition: opacity 0ms ease-in;
}



#markerToolBox {
  padding: 4px 4px;
  width: 150px;
  font-size: 13px !important;
  background: white;
  background: rbga(255,255,255,0.8);
  box-shadow: 0 0 15px rbga(0,0,0,0.2);
  border-radius: 2px;
}
#queryToolBox {
  padding: 4px 4px;
  width: 250px;
  font-size: 13px !important;
  background: white;
  background: rbga(255,255,255,0.8);
  box-shadow: 0 0 15px rbga(0,0,0,0.2);
  border-radius: 2px;
}
.controls {
  padding: 8px 8px;
  width: 300px;
  /*font: 14px/16px Arial, Helvetica, sans-serif;*/
  font-size: 13px !important;
  background: white;
  background: rbga(255,255,255,0.8);
  box-shadow: 0 0 15px rbga(0,0,0,0.2);
  border-radius: 2px;
}
.queryres {
  /*display: none;*/
}
.controls-layer-name {
  width: 90%;
  padding-top: 10px;
  padding-left: 10px;
}
.controls-slider-name {
  float: left;
  width: 35%;
  padding-top: 2px;
  padding-left: 15px;
}
#slider > .minslider  {
  float: right;
  width: 60%;
  margin: 5px;
}
#slider > .maxslider  {
  float: right;
  width: 60%;
  margin: 5px;
}
#slider > .gammaslider  {
  float: right;
  width: 60%;
  margin: 5px;
}
#slider > .opacity {
  float: right;
  width: 60%;
  margin: 5px;
}
#resolution {
  /* float: left; */
/*  padding-top: 5px;
  padding-bottom: 5px; */
}
#blendmode {
  /*float: left;*/
  padding-top: 5px;
  /* padding-bottom: 5px;*/
}
#playdelay {
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
}
#add_data_link {
  /*float: left;*/
/*  padding-top: 5px; */
  padding-bottom: 5px;
}
.image-controls-layer-icon {
  padding-right: 5px;
  padding-top: 3px;
}
.controls, .queryres h4 {
  margin: 0 0 5px;
  color: #777;
}
.layer-list {
  list-style: none !important;
  margin:0;
  padding:0
}
.layer-list li {
  padding: 5px;
  background:#eee;
  border-color: #666;
  border-style: ridge;
  border-width: 1px;
  margin-bottom: 0.5px;
}
.layer-list li.placeholder {
  padding: 5px;
  background: rgb(255,240,120);
  border-color: #666;
  border-style: ridge;
  border-width: 1px;
  margin-bottom: 0.5px;
}
.layer-list li.placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
}

.keyhelp {
  display: none;
  background: rgb(34, 34, 34);
  /*color: rgb(157, 157, 157);*/
  color: #F6DB22;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}
.add_data_info {
  padding-top: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 40px;
  padding: 10px;
/*  height: 55px;*/
/*  background-color: #333; */
}

#timeseries-control-box {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  height: 70px;
  background: rgba(255, 255, 255, 1.0);
  border-radius: 2px;
  padding: 5px;
}
#timeseries-control-buttons {
  padding-bottom:10px;
}
#timeseries-control-buttons .fa-border {
  padding: 0.2em 0.6em 0.15em;
  border: solid 0.125em #ddd;
  border-radius: 4px;
}
.playdelay-input {
  width: 40px;
  border: 1px solid #ccc;
  color: #555;
  border-radius: 4px;
}

.colorbox {
  padding-top: 15px;
}

.btn-color:hover {
  background-color: #f5f5f5;
}

.btn-r {
  color: #000;
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-g {
  color: #000;
  background-color: #00ff00;
  border-color: #00ff00;
}

.btn-b {
  color: #fff;
  background-color: #0000ff;
  border-color: #0000ff;
}

.btn-c {
  color: #000;
  background-color: #00ffff;
  border-color: #00ffff;
}

.btn-m {
  color: #000;
  background-color: #ff00ff;
  border-color: #ff00ff;
}

.btn-y {
  color: #000;
  background-color: #ffff00;
  border-color: #ffff00;
}
