.controls-slider-name {
  float: left;
  width: 35%;
  padding-top: 2px;
  padding-left: 15px;
}
#slider > .minslider  {
  float: right;
  width: 60%;
  margin: 5px;
}
#slider > .maxslider  {
  float: right;
  width: 60%;
  margin: 5px;
}
#slider > .gammaslider  {
  float: right;
  width: 60%;
  margin: 5px;
}
#slider > .opacity {
  float: right;
  width: 60%;
  margin: 5px;
}