#controlpanelheader {
  /*font-size: 16px !important;*/
  overflow: auto;
  color: black;
}
.headertext {
  font-size: 20px !important;
  font-weight: bold;
  padding-top:10px;
}

.helperText {
  float: left;
  padding-top: 8px;
  padding-right: 15px;
  color: #F6DB22;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 160%;
  /*font-weight: bold;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: none;
}

.toolbox {
  padding: 8px 8px;
  width: 300px;
  font-size: 13px !important;
  background: white;
  /* background: rgba(255, 255, 255, 0.8); */
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2px;
  overflow: auto;
  max-height: 500px;
  color: black;
}
.toolboxContent {
  overflow: auto;
  max-height: 600px;
}

/* added to play nice with react */
.toolboxHeaderIcon {
  padding-bottom: 5px;
}
.toolboxCloseButton {
  float: right;
}
.toolboxIconOpen {
  float: left;
}

/* react animation */
.showToolbox-enter {
  opacity: 0;
}

.showToolbox-enter.showToolbox-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
  transition-delay: 500ms;
}

.showToolbox-leave {
  opacity: 1;
}

.showToolbox-leave.showToolbox-leave-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.toolboxIconAnimate-enter {
  opacity: 0;
}

.toolboxIconAnimate-enter.toolboxIconAnimate-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
  /*transition-delay: 450ms;*/
}

.toolboxIconAnimate-leave {
  opacity: 1;
}

.toolboxIconAnimate-leave.toolboxIconAnimate-leave-active {
  opacity: 0;
  /*transition: opacity 0ms ease-in;*/
  transition: opacity 0ms ease-in;
}


.toolboxTransition-enter {
  opacity: 0;
}

.toolboxTransition-enter.toolboxTransition-enter-active {
  opacity: 1;
  transition: opacity 0ms ease-in;
  /*transition-delay: 450ms;*/
}

.toolboxTransition-leave {
  opacity: 1;
}

.toolboxTransition-leave.toolboxTransition-leave-active {
  opacity: 0;
  /*transition: opacity 0ms ease-in;*/
  transition: opacity 0ms ease-in;
}

