{# login modal #}
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="logintitle">Login</h4>
      </div>
      <div class="modal-body">
        <form id="login_form">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br />
        <div class="login_info">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
     </div>
   </div>
</div>
<script>
  // intercept form submission,
  $(function() {
    $( '#login_form' ).submit(function(e) {
      e.preventDefault();
      // clear previous info / errors
      $( '.login_info' ).empty();

      var script_name = '{{ request.META.SCRIPT_NAME }}';
      if (script_name == '') {
        var loginUrl = "http://{{ request.get_host }}/login/";
      }
      else {
        var loginUrl = "http://{{ request.get_host }}/{{ request.SCRIPT_NAME }}/login/";
      }
      // make request (using jquery)
      var jqxhr = $.ajax({
        url: {% url "login" %},
        type: 'POST',
        data: { csrfmiddlewaretoken: "{{ csrf_token }}",
                username: $( "#username" ).val(),
                password: $( "#password" ).val(),
              },
        success: function(response) {

          $( "#loginlink" ).hide()
          $( "#managelink" ).show()
          $( "#logoutlink" ).show()

          var html = '<div class="bg-info"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="sr-only">Success:</span> User ' + $( "#username" ).val() + ' logged in!';
          $( '.login_info' ).append(html);

        },
      })
      .fail(function(response) {
        var html = '<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span> Error: Login failed.</div>';
        $( '.login_info' ).append(html);
      });
    });
  });
</script>
{# end add-data modal #}
