{# list public data views modal #}
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dataviewTitle">Public Dataviews</h4>
      </div>
      <div class="modal-body">
        {% if dataviews %}
        <table class="table table-hover">
          <tbody>
          {% for dv in dataviews %}
          <tr>
            <td>{{ dv.name }}</td>
            <td>{{ dv.desc }}</td>
            <td><a href="{% url 'dataview' dv.token %}">View</a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p class="bg-danger">No public dataviews on this server!</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
     </div>
   </div>
{# end dataview modal #}
