<td colspan="7">
<table class="table table-condensed table-striped">
<thead>
<tr>
  <th>Name</th>
  <th>Desc</th>
  <th>Server</th>
  <th>Type</th>
  <th>Token, Channel</th>
</tr>
</thead>
<tbody>
{% for layer in layers %}
<tr>
<td><strong>{{ layer.layer_name }}</strong></td> 
<td>{{ layer.layer_description }}</td> 
<td>{{ layer.server }}</td>
<td>{{ layer.layertype }}</td> 
<td>{{ layer.token }}, {{ layer.channel }}</td>
</tr>
{% empty %}
<tr>
<td colspan="7">
<em>No layers for this project.</em>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</td>
